body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  font-size: 24px;
  color: white;
  background-color: black;
}

#clocks {
  display: grid;
  grid-template-columns: 1fr min-content;
  row-gap: 24px;
  column-gap: 48px;

  width: 250px;
  min-width: fit-content;
}

.clock {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;

  border: 1px solid white;
  border-radius: 6px;
  padding: 18px 36px;

  &.paused {
    background-color: goldenrod;
  }

  &.running {
    background-color: crimson;
  }
}
